{% extends "layout.html" %}
{% block main_content %}
<div id="pageFrame" >

    <div style="padding-top: 40px; padding-left: 100px;">
        <h1 style="color: dimgray; font-weight: normal;">
            Login
        </h1>
        {% if error %}
        <div class="alert alert-error">
        {{error}}
        </div>
        {% endif %}

        <form name="loginForm" action="/login" method="POST">
          <table>
              <tr>
                  <td>Username:</td>
                  <td><input type="text" name="username" /></td>
              </tr>
              <tr>
                  <td>Password:</td>
                  <td><input type="password" name="password" /></td>
              </tr>
              <tr>
                  <td>&nbsp</td>
                  <td><input type="submit" class='btn btn-primary' value="login"></td>
              </tr>
              <tr>
                <td>&nbsp</td>
                <td>
                    <a href="/register">Register</a>
                    &nbsp | &nbsp
                    <a href="/resetPassword">Forgot password</a>
                </td>
              </tr>
          </table>
        </form>
    </div>

</div>

{% endblock %}