{% extends "layout.html" %}
{% block main_content %}
<div id="pageFrame" >

    <div style="padding-top: 40px; padding-left: 100px;">
        <h1 style="color: dimgray; font-weight: normal;">
            Register
        </h1>
        {% if errors %}
        <div class="alert alert-error">
            <ul>
              {% for error in errors%}
                <li>{{error}}</li>
              {% endfor %}
            </ul>
        </div>
        {% endif %}

        <form name="registerForm" action="/register" method="POST">
          <table>
              <tr>
                  <td>Username:</td>
                  <td><input type="text" name="username" /></td>
              </tr>
              <tr>
                  <td>Email Address:</td>
                  <td><input type="text" name="email" /></td>
              </tr>
              <tr>
                  <td>Password:</td>
                  <td><input type="password" name="password" /></td>
              </tr>

              <tr>
                  <td>Verify Password:</td>
                  <td><input type="password" name="vpassword" /></td>
              </tr>
              <tr>
                  <td>&nbsp</td>
                  <td><input type="submit" class='btn btn-primary' value="Register">&nbsp&nbsp<a href='/login'>Login</a></td>
              </tr>
          </table>
        </form>
    </div>

</div>

{% endblock %}