{% extends "layout.html" %}
{% block main_content %}
<div id="pageFrame" >

    <div style="padding-top: 40px; padding-left: 100px;">
        <h1 style="color: dimgray; font-weight: normal;">
            Reset Password
        </h1>
        {% if error %}
        <div class="alert alert-error">
        {{error}}
        </div>
        {% endif %}

        <p>Enter email address to reset password.</p>
        <form name="registerForm" action="/register" method="POST">
          <table>
              <tr>
                  <td>Email Address:</td>
                  <td><input type="text" name="username" /></td>
              </tr>
              <tr>
                  <td>&nbsp</td>
                  <td><input type="submit" class='btn btn-primary' value="reset">&nbsp&nbsp<a href='/login'>Login</a></td>
              </tr>
          </table>
        </form>
    </div>

</div>

{% endblock %}