{% extends "layout.html" %}
{% block main_content %}
<div id="pageFrame" >

    <div style="padding-top: 40px; padding-left: 100px;">
        <h1 style="color: dimgray; font-weight: normal;">
            Reset Password
        </h1>

        {% if reseted %}
          Password reset link has been sent to your registered email address
        {% else %}
            {% if error %}
            <div class="alert alert-error">
            {{error}}
            </div>
            {% endif %}

            <p>Enter username to reset password.</p>
            <form name="resetForm" action="/resetPassword" method="POST">
              <table>
                  <tr>
                      <td>Username:</td>
                      <td><input type="text" name="username" value"{{username}}"/></td>
                  </tr>
                  <tr>
                      <td>&nbsp</td>
                      <td><input type="submit" id='resetSubmit' class='btn btn-primary' value="reset">&nbsp&nbsp<a href='/login'>Login</a></td>
                  </tr>
              </table>
            </form>

            <script>

                function validate(){
                  var username = $("form[name='resetForm'] input[name='username']").val();
                  if(username === ""){
                      alert('username cannot be empty')
                      return false;
                  }

                  return true;
                }

                $(function(){
                   $('#resetSubmit').click(function(event){
                       if(!validate()){
                           event.preventDefault();
                       }
                   })
                })


            </script>
        {% endif %}
    </div>

</div>

{% endblock %}