{% extends "layout.html" %}
{% block main_content %}
<div id="pageFrame">
  
    <h1 style="color: dimgray; font-weight: normal;">
      Library
    </h1>
    <div class="row-fluid">
        <div class="span3" style='border-right: 1px solid #cdcdcd;'>
            <!--Sidebar content-->
            <ul class="nav nav-list">
                <li class="active"><a href="#"><i class="icon-chevron-right"></i>All</a></li>
                <li><a href="#"><i class="icon-chevron-right"></i>Category 1</a></li>
                <li><a href="#"><i class="icon-chevron-right"></i>Category 2</a></li>
                <li><a href="#"><i class="icon-chevron-right"></i>Category 3</a></li>
                <li><a href="#"><i class="icon-chevron-right"></i>Responsive design</a></li>
            </ul>
        </div>
        <div class="span9">
            <div height="600px" style="overflow: auto">
                <table class="table table-bordered table-hover" style="background-color: #ffffff; cursor: pointer">
                    <tbody>
                    {% for video in videos %}
                    <tr>
                        <td class='vid_link' data-pk="{{video.pk}}">
                            {{video.title}}
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td>
                            No Videos in Library
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>


        </div>
    </div>
    {#
    <a href="#addVideoFrm" role="button" class="btn pull-right" data-toggle="modal">
        Add Video
    </a>
    #}
    <div id="addVideoFrm" class="modal hide fade" role="dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">x</button>
            <h3 id="label">Add New Video</h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal">

                <div class="control-group">
                    <label class="control-label" for="title">Name: </label>
                    <div class="controls">
                        <input type="text" id="title" placeholder="Title">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="url">Url:</label>
                    <div class="controls">
                        <input type="text" id="title" placeholder="Url">
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script>
      Library = {
          addVideo : function(){
              //submit form

              //get ajax response

              //reload library page
          }
      }

    </script>


</div>

<script>
    
    $(function(){
      $(".navbar .active").removeClass("active");
      $(".navbar #library").addClass("active");

      $('.vid_link').click(function(){
        var vidpk = $(this).attr('data-pk');
        window.location.href='/play/'+vidpk;
      })
    })
</script>
{% endblock %}