{% extends "layout.html" %}
{% block main_content %}
<div id="pageFrame">
  
    <h3 class='lead'>
      Library
    </h3>
    <div height="600px" style="overflow: auto">
        <table class="table table-striped table-bordered table-hover" style="background-color: #ffffff;">
            <tbody>
                {% for video in videos %}
                <tr>
                    <td>
                        <a href="/play/{{video.pk}}">{{video.title}}</a>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td>
                      No Videos in Library
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <a href="#addVideoFrm" role="button" class="btn pull-right" data-toggle="modal">
        Add Video
    </a>

    <div id="addVideoFrm" class="modal hide fade" role="dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">x</button>
            <h3 id="label">Add New Video</h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal">

                <div class="control-group">
                    <label class="control-label" for="title">Title</label>
                    <div class="controls">
                        <input type="text" id="title" placeholder="Title">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="url">Url</label>
                    <div class="controls">
                        <input type="text" id="title" placeholder="Url">
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script>
      Library = {
          addVideo : function(){
              //submit form

              //get ajax response

              //reload library page
          }
      }

    </script>


</div>

<script>
    
    $(function(){
      $(".navbar .active").removeClass("active");
      $(".navbar #library").addClass("active");
    })
</script>
{% endblock %}