{% extends "layout.html" %}
{% block main_content %}
<div id="pageFrame">
  
    <div id="header">
      Library
    </div>
    <div height="600px" style="overflow: auto">
        {% for video in videos %}
        <div>
            <a href="/play/{{video.pk}}">{{video.title}}</a>
        </div>
	    {% else %}
            <div class="note emptyNotes">
              No Videos in Library
            </div>
        {% endfor %}
    </div>

    <a href="#addVideoFrm" role="button" class="btn" data-toggle="modal">
        Add Video
    </a>

    <div id="addVideoFrm" class="modal hide fade" role="dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">x</button>
            <h3 id="label">Add New Video</h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal">

                <div class="control-group">
                    <label class="control-label" for="title">Title</label>
                    <div class="controls">
                        <input type="text" id="title" placeholder="Title">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="url">Url</label>
                    <div class="controls">
                        <input type="text" id="title" placeholder="Url">
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script>
      Library = {
          addVideo : function(){
              //submit form

              //get ajax response

              //reload library page
          }
      }

    </script>


</div>

<script>
    
    $(function(){
      $(".navbar .active").removeClass("active");
      $(".navbar #library").addClass("active");
    })
</script>
{% endblock %}