{% macro render_notes(notes, user='') -%}
    {% for note in notes %}
       <div class="note"
            data-id="{{note.pk}}"
            data-time="{{note.time}}">


            {% if note.user == user%}
            <div class="ctxMenu">
              {% if note.share == 1 %}
                <a class="unshareLink">Unshare</a>
              {% else %}
                <a class="shareLink">Share</a>
              {% endif %}
              <a class="editLink">Edit</a>
              <a class="delLink">Delete</a>
            </div>
            {% endif %}

            <p class="timeLink anchor">{{note.time|sec_to_time}}</p>
            <p class="text">{{note.text}}</p>
            <p class="desc"> by {{note.user}}</p>
        </div>
    {% else %}
        <div class="note emptyNotes">
          <p class="noteText">No Notes available, add your notes</p>
        </div>
    {% endfor %}
{%- endmacro %}