{% extends "layout.html" %}
{% block main_content %}
    {% if youtube_video %}
      <script src="/static/js/lib/swfobject.js"/></script>
      <script src="/static/js/YoutubePlayer.js"/></script>
    {% else %}
      <script src="/static/js/LocalPlayer.js"/></script>
    {% endif %}
    
    <div id="pageFrame">
    <div id="header">
      <span id="vidTitle">{{video.title}}</span> by
      <span id="author">{{video.author}}</span>
    </div>

    <div id="stage">

      <div id="vidCtr" class="ctr">
        <div id="videoPlayer">video</div>
      </div><!-- /#vidCtr -->


      <div id="noteInputCtr" class="ctr">
        <textarea id="notesInput"></textarea>
        <div class="buttonsCtr centerText">
          <button id="addNoteButton" class="btn btn-primary" >Add Note</button>
          <button id="cancelNoteButton" class="btn" >Cancel Note</button>
        </div>
      </div><!-- /#notesInputCtr -->


      <div id="searchCtr" class="ctr ui-corner-all">
        <div id="searchPanel">
          <span class="fieldName">Search: </span>
          <input type="text" id="searchField" />
          <div id="clearSearchButton" class="hidden">X</div>
          <button id="searchButton" class="btn btn-small">Search</button>
        </div>
      </div><!-- /#searchCtr -->


      <div id="notesCtr" class="ctr">
        <div id="notesPanel">
          
          {# TODO: Riz Future feature
          <div id="optBar">
            <div class="fill">
              <div id="notesTabs">
               <a class="notesTab selectedTab">My Notes</a>
               <a class="notesTab">All Notes</a>
               <a class="notesTab">Transcript</a>
               <a class="menuButton">Menu</a>
              </div>
            </div>
          </div><!-- /#optBar -->
          #}
          
          
          <div id="notes">
                {% for note in notes %}
                   <div class="note"
                        data-id="{{note.pk}}"
                        data-time="{{note.time}}">
			
                        <div class="ctxMenu">
                          <a class="editLink">Edit</a>
                          <a class="delLink">Delete</a>
                        </div>
			
                        <p class="timeLink anchor">{{note.time|sec_to_time}}</p>
			            <p class="text">{{note.text}}</p>
                        <p class="desc"> by {{note.user}}</p>
                    </div>
		{% else %}
                <div class="note emptyNotes">
                  <p class="noteText">No Notes available, add your notes</p>
                </div>
                {% endfor %}
	        </div>
          </div>
        </div><!-- /#notesCtr -->
      </div><!-- /#stage -->

    </div> 

<!---------------------------- Dialogs ---------------------------------------->
  <div style="display:none">
    <div id="commentsDialog" title="Comments">
      <div id="commentNote">
        Hello World Note
      </div>
      <div id="comments">
        <div class="comment">
          <p class="commentText">some Comment</p>
        </div>
      </div>
    </div>

    <div id="editNoteDialog" title="<i class='icon-pencil'></i> Edit Note">
      <input type="hidden" id="editNoteId"/>
        <div class="field">
          <textarea id="notesArea"></textarea>
        </div>
        <div id="buttonsCtr">
            <button id="saveNoteChanges" class="btn btn-primary">Save</button>
        </div>
    </div>    
  </div>
</html>


<script>
  $(function(){
    //$.sticky('The page has loaded!');
    
    
    $(".navbar .active").removeClass("active");
    $(".navbar #home").addClass("active");

    NotesController.init();
    SearchController.init();
    VideoController.init("{{video.url}}");

    Data = {};
    Data.user = '{{user}}';
    Data.vidId = {{video.pk}};
  });
</script>
{% endblock %}